<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgevf.ui" >

    <application>
        <activity android:name=".widget.WebLoadingActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        
        <provider
            android:authorities="com.sgevf.ui.fileProvider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>
