<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgevf.ui">

    <application>
        <activity
            android:name=".widget.WebLoadingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true" />

        <activity android:name=".refreshLayout.RefreshLayoutTestActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sgevf.ui.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
