<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgevf.ui" >

    <application>
        <activity android:name=".widget.WebLoadingActivity"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
    </application>
</manifest>
